<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>News Parser</title>
</head>
<body>

<div>
    <h2>News Parser</h2>
    <a href="/opennet">OpenNet</a>
    <a href="/mirknig">MirKnig</a>

</div>

</body>
</html>