<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>News OpenNet</title>
</head>
<body>

<div>
    <a href="/">Home</a>
    <br>
    <br>
    <h2>News OpenNet</h2>
    <ul>
        {{#listHead}}
            <li>{{.}}</li>
        {{/listHead}}
    </ul>
</div>

</body>
</html>